body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.header {
    background-color: #2f0038;
    color: white;
    padding: 20px;
    text-align: center;
}
.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.form-container input, .form-container textarea, .form-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button {
    background-color: #FFD700;
    color: #2f0038;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form-container button:hover {
    background-color: #ffcc00;
}
.back-button-container {
text-align: center;
margin: 20px 0;
}

.back-button-container button {
background-color: #5c0e78;
color: white;
border: none;
padding: 10px 20px;
font-size: 1em;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.back-button-container button:hover {
background-color: #4a005a;
}
